# Firebase Secret Key
one-night-out-eb2ed-firebase-adminsdk-fbsvc-d62d276844.json
serviceAccountKey.json

# Local Environment/DB
.env
*.db

# Go Binaries (Ignore the .exe, but NOT the .go files)
*.exe